.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: aliceblue;
  border: #f0c5c52c !important;
  /* border-radius: 5% !important;
  border-style: solid !important;
  border-width: 5px !important; */
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container1 {
  padding: 8px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 0% 0 6% 6% !important;
  letter-spacing: 2px;
}

.container1 p {
  margin-bottom: 0% !important;
  padding: 2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  color: rgb(42, 42, 51);
}

.address {
  font-style: italic;
}

.container1 h3 {
  margin-bottom: 0px !important;
  padding: 2%;
  font-size: 200%;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 700;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column-card {
  float: left;
  margin-left: 5%;
  width: 23.3%;
  /* height: 283px; */
  padding: 0 0px;
  margin-top: 30px;
  margin-right: 5%;
  margin-bottom: 20px;
}

.pageButton {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

/* Remove extra left and right margins, due to padding in columns */
.row-card {
  margin: 0 0px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* Clear floats after the columns */
.row-card:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img {
  /* border: 1px solid #ddd;
    border-radius: 4px; */
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 200px;
  background-color: aliceblue;
  border-radius: 6% 6% 0% 0 !important
}

.button-34 {
  background: #212529;
  border-radius: 999px;
  box-shadow: #212529 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.div-pad {
  padding: 5px 5px;
  /* background-color: aliceblue; */
  border-radius: 0% 0% 20% 20% !important
}

.center {
  text-align: center;
}

.parent {
  /* margin: 0rem; */
  /* padding: 2rem 2rem; */
  text-align: left;
  column-count: 2;
  column-fill: auto;
  border-bottom: 2px solid rgb(242, 242, 242);
  padding-bottom: 20px;
}

.child {
  display: inline-block;
  /* padding: 1rem 1rem; */
  vertical-align: middle;
  text-align: middle;
}

.myclass {
  height: 20px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .14);
  background-color: AliceBlue;
  font-size: 14px;
}

.propcontainer {
  margin-left: 13%;
  margin-right: 13%;
  padding: 3%;
  /* max-width: 1000px */
  /* column-count: 2; */
  column-fill: auto;
  /* border: solid 3px; */
  border-color: #cdcdcd;
  padding-top: 20px;
  border-radius: 18px;
  border: none;
  display: border-box;
  background: #f5f5f7;
  box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 8%);
  margin-top: 2%;
  
}

.column-1 img {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: inline-block;
}

.column-1 div {
  margin-bottom: .5px;
}

.column-1 {
  /* height: 1000px; */
  width: 100%;
  margin: 0%;
}

.column-2 {
  height: 1024px;
  /* width: 350px; */
  /* border-left: 3px solid rgb(242, 242, 242); */
  padding-left: 0;

}

.gmap {
  height: 300px;
  width: 30% !important;
  margin: auto;
  /* display: inline-block; */
}

.prop_data {
  /* padding-top: 5% !important; */
  display: block;
  padding-bottom: 5%;
  padding-left: 4%;
  padding-top: 10%;
}

.prop_data_2 {
  display: block;
  padding-bottom: 5%;
  padding-left: 2%;
}

.prop_data h1 {
  color: rgb(42, 42, 51);
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* margin: 24px 0px 16px; */
  /* padding-top: 24px; */
}

.column-2 h1 {
  color: rgb(42, 42, 51);
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* padding-bottom: 10px; */
  /* margin: 24px 0px 16px; */
  /* padding-top: 24px; */
}

.prop_data h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
}

.detail {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px 0px 16px;
  border-bottom: 2px solid rgb(242, 242, 242);
  padding-bottom: 20px;
  padding-left: 2%;
}

.detail_USER {
  margin: 10px 0px 16px;
  border-bottom: 2px solid rgb(242, 242, 242);
  padding-bottom: 20px;
  padding-left: 2%;

}

.detail_inside {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  padding-top: 0% !important;
}

.detail_inside_2 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;

  border-bottom: 2px solid rgb(242, 242, 242);
  padding-bottom: 20px;
  padding-left: 2%;
}

.detail_inside .s1 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-family: Proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.detail_inside .s2 {
  font-size: 16px;
  font-style: italic;
  color: #707070;
}

.detail_insider {
  padding-left: 17.5px;
}

.detail_insider li::marker {
  color :black;
  font-size: 1.5em;
}


