/*.row:after {
    content: "";
    display: table;
    clear: both;
} */

.margin {
    margin-left: 13%;
    margin-right: 13%;
}

/*.column {
    width: 50%;
} */

/* .landlordcolumn {
    float: left;
    width: 33%;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }

    .landlordcolumn {
        width: 100%;
    }
}*/


label {
    /* width: 120px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 16px;
}

/*
label[for=sqft] {
    float: none;
    text-align: left;
}

label[for=bdba] {
    float: none;
    padding: 0 0.5% 0 3%;
    text-align: right;
}*/ 

label[for=checkbox] {
    float:none;
    text-align: right;
    padding-right: 5px;
    position: relative;
    font-size: 14px;
    top: -8px;
}

label:after { 
    content: ": " 
}

input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input[name=propertyImages] {
    padding-left: 0;
}
/*input[name=price] {
    width: 7%;
    margin-right: calc(28.5% - 120px);

}

input[name=sqft] {
    width: 7%;
    margin-right: calc(24.5% - 120px);
}

input[name=bedrooms] {
    margin: 0.5%;
    width: 5%;
}

input[name=bathrooms] {
    margin: 0.5%;
    width: 5%;
}



input[type=date] {
    width: calc(90.45% - 120px);
}

input[name=landlordName] input[name=email] input[name=phone]{
    width: calc(90% - 120px);
}*/
input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-bottom: 17.5px;
}

textarea {
    width: 100%;
    resize: none;
}
text {
    font-weight: bold;
    font-size: 16.5px;
}
select {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

input, textarea, select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amenities {
    width: 100%;
}

.amenity {
    white-space: nowrap;
    display: inline;
    padding-right: 20px
}

.submit {
    margin: auto;
    width: 50%;
    text-align: center;  
}

p {
    margin-bottom: 50px;
    padding-left: 15%;
}

/* input {
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
}
textarea {
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
} */

.right {
    margin-bottom: 50px;
    padding-right: 15%;
}


.propcontainer {
    margin-left: 30%;
    margin-right: 30%;
    padding: 3%;
    /* max-width: 1000px */
    /* column-count: 2; */
    column-fill: auto;
    /* border: solid 3px; */
    border-color: #cdcdcd;
    padding-top: 50px;
    border-radius: 18px;
    border: none;
    display: border-box;
    background: #f5f5f7;
    box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 8%);
    margin-top: 2%;
    
  }