.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.landlordcolumn {
    float: left;
    width: 33%;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }

    .landlordcolumn {
        width: 100%;
    }
}

label {
    float: left;
    width: 120px;
    padding: 0 4% 0 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 16px;
}

label[for=sqft] {
    float: none;
    padding: 0 0.5% 0 3%;
    text-align: right;
}

label[for=bdba] {
    float: none;
    padding: 0 0.5% 0 3%;
    text-align: right;
}

label[for=checkbox] {
    float:none;
    text-align: right;
    padding-right: 0;
    position: relative;
    top: -8px;
}

label:after { 
    content: ": " 
}

input {
    width: calc(90% - 120px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

input[name=price] {
    width: 13.5%;
    margin-right: calc(28.5% - 120px);

}

input[name=sqft] {
    width: 7%;
    margin-right: calc(24.5% - 120px);
}

input[name=bedrooms] {
    margin: 0.5%;
    width: 5%;
}

input[name=bathrooms] {
    margin: 0.5%;
    width: 5%;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

input[type=date] {
    width: calc(90.45% - 120px);
}

input[name=landlordName] input[name=email] input[name=phone]{
    width: calc(90% - 120px);
}

textarea {
    width: calc(90% - 120px);
    resize: none;
}

select {
    width: calc(91% - 120px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

input, textarea, select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amenities {
    margin: auto;
    width: 50%;
    text-align: center;
}

.amenity {
    white-space: nowrap;
    display: inline;
    padding-right: 20px
}

.submit {
    margin: auto;
    width: 50%;
    text-align: center;  
}

p {
    margin-bottom: 50px
}
